<!-- <div class="card-tabs">
  <ul class="tabs tabs-fixed-width tabs-transparent">
    <li class="tab">
      <a routerLink="/login">Login</a>
    </li>
    <li class="tab">
      <a routerLink="/register">register</a>
    </li>
    
  </ul>
</div> -->


<!-- <div class="main">

  <section class="sign-in">
      <div class="container">
          <div class="signin-content">
              <div class="signin-image">
                  <figure><img src="../../assets/Img/signin-image.jpg" alt="sing up image"></figure>
                  <a routerLink="/register" class="signup-image-link">Create an account</a>
              </div>

              <div class="signin-form">
                  <h2 class="form-title">Login </h2>
                  <form [formGroup]="loginForm" (ngSubmit)="Finalbooking(loginForm)" class="register-form" id="login-form">
                      <div class="form-group">
                          <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                          <input type="text" formControlName="email" id="your_name" placeholder="Your Email"/>
                      </div>
                      <div class="form-group">
                          <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                          <input type="password" formControlName="password" id="your_pass" placeholder="Password"/>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                          <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                      </div>
                      <div class="form-group form-button">
                          <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                      </div>
                  </form>
                 
              </div>
          </div>
      </div>
  </section>

</div> -->
<!-- <div class="container vh-100">
  <div class="row justify-content-center h-100">
      <div class="card my-auto shadow">
          <div class="card-body px-5">
              <div class="text-center">
                  <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
              </div>
              <div class="text-center">
                  <h2>Welcome</h2>
              </div>
              <p style="color: lightslategray; text-align: center;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                  details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <form [formGroup]="loginForm" (ngSubmit)="Finalbooking(loginForm)">
                  <div class="form-group">
                      <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                          name="email" />
                  </div>
                  <div class="form-group">
                      <input type="password" id="password" placeholder="Password" class="form-control"
                          formControlName="password" name="password" />
                  </div>
                  <input type="submit" class="btn btn-primary w-100" value="Login" name="">
              </form>
          </div>
          <div class="card-footer text-right">
              <small style="float: right; font-size: 20px ;" ><a routerLink="/register">Create an Account</a></small>
          </div>
      </div>
  </div>
</div> -->
<!-- <div class="card-tabs">
  <ul class="tabs tabs-fixed-width tabs-transparent">
    <li class="tab">
      <a routerLink="/login">Login</a>
    </li>
    <li class="tab">
      <a routerLink="/register">register</a>
    </li>
    
  </ul>
</div> -->


<!-- <div class="main">

  <section class="sign-in">
      <div class="container">
          <div class="signin-content">
              <div class="signin-image">
                  <figure><img src="../../assets/Img/signin-image.jpg" alt="sing up image"></figure>
                  <a routerLink="/register" class="signup-image-link">Create an account</a>
              </div>

              <div class="signin-form">
                  <h2 class="form-title">Login </h2>
                  <form [formGroup]="loginForm" (ngSubmit)="Finalbooking(loginForm)" class="register-form" id="login-form">
                      <div class="form-group">
                          <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                          <input type="text" formControlName="email" id="your_name" placeholder="Your Email"/>
                      </div>
                      <div class="form-group">
                          <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                          <input type="password" formControlName="password" id="your_pass" placeholder="Password"/>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                          <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                      </div>
                      <div class="form-group form-button">
                          <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                      </div>
                  </form>
                 
              </div>
          </div>
      </div>
  </section>

</div> -->
<body>
    <div class="container vh-100">
      <div class="row justify-content-center h-100">
          <div class="card my-auto shadow">
              <div class="card-body px-5">
                  <div class="text-center">
                      <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
                  </div>
                  <div class="text-center">
                      <h2 class="headi">Welcome</h2>
                  </div>
                  <p style="color:white; text-align: center;" class="like">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                      details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                  <form [formGroup]="loginForm" (ngSubmit)="Finalbooking(loginForm)">
                      <div class="form-group">
                          <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                              name="email" />
                      </div>
                      <div class="form-group">
                          <input type="password" id="password" placeholder="Password" class="form-control"
                              formControlName="password" name="password" />
                      </div>
                      <input type="submit" class="btn btn-primary w-100" value="Login" name="">
                  </form>
              </div>
              <div class="card-footer text-right">
                  <small style="float: right; font-size: 20px ;" ><a routerLink="/register">Create an Account</a></small>
              </div>
          </div>
      </div>
    </div>
    </body>